In [ ]:
#Mission to Mars
#site https://mars.nasa.gov/news/

In [49]:
import pandas as pd
from bs4 import BeautifulSoup as soup
from splinter import Browser
import time
import requests

In [29]:
#configure executable path (finally) and intialize a browser

executable_path = {'executable_path': r'C:\Users\ptsai\Anaconda3\chromedriver.exe'}
browser = Browser('chrome', **executable_path)

In [18]:
#Go to NASA website

url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [19]:
#convert html to soup

html = browser.html
NASA_soup = soup(html, "html.parser")

In [20]:
#After inspecting the NASA html page, all stories are in ul class="item_list", each in its own li class="slide"
#The latest is at the top, so we just need to select that one

slide = NASA_soup.select_one("ul.item_list li.slide")

#Title is anchored div class="content_title"
slide.find("div", class_="content_title")

In [22]:
#Target locked, but there is extra text/tags we don't want. Cleaning...

dirty_title = slide.find("div", class_="content_title")

title = dirty_title.get_text()
title

'Could the Surface of Phobos Reveal Secrets of the Martian Past?'

In [23]:
#Bingo. Now we need accompanying story blurb, found in div class_="article_teaser_body", cleaned too

blurb = slide.find("div", class_="article_teaser_body")
blurb = blurb.get_text()
blurb

'The Martian moon Phobos orbits through a stream of charged atoms and molecules that flow off the Red Planet’s atmosphere, new research shows.'

In [ ]:
#quit browser and move to next section
browser.quit()

In [30]:
###################
#Now, we pull the Featured mars image from JPL. Chagnge url and visit appropriate webpage

url_2 = "https://www.jpl.nasa.gov/images/?search=&category=Mars"

browser.visit(url_2)

In [51]:
#click on full image

full_img = browser.links.find_by_partial_text('FULL IMAGE')
full_img.click()

#time so next click doesn't execute before page can load
time.sleep(3)

#click on more info

more_info = browser.links.find_by_partial_text('more info')
more_info.click()
time.sleep(3)

In [44]:
#parse with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [53]:
rel_img_url = soup.find('figure', class_='lede').a['href']
featured_image_url = f'https://www.jpl.nasa.gov{rel_img_url}'
#print(featured_image_url)

In [ ]:
#close browser for next part
browser.quit()

In [69]:
###Mars facts section
# https://space-facts.com/mars/

#set url

url_3 = "https://space-facts.com/mars/"

#read html into df

mars_facts = pd.read_html('http://space-facts.com/mars/')
print(mars_facts)

[                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers,   Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:     -87 to -5 °C      -88 to 58°C,                       0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers]

In [70]:
#put in df

mars_df = mars_facts[0]
mars_df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [71]:
#clean up

mars_df.columns = ["Property", "Value"]
mars_df.set_index("Property", inplace=True)
mars_df.head()

                                              Value
Property
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)

In [72]:
#convert to HTML table string

mars_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Property</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [73]:
#Get high res pics of Mars's hemispheres
#https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars

url_4 = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url_4)

In [ ]:
#find all hemispheres first

results = soup.find("div", id_ = "result-list" )
hemispheres = results.find_all("div", class_="item")